<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>注册</title>
</head>
<body>
    <div id="main" ng-controller="registerController">
        用户名：
        <input type="text" ng-model="user.name" />
        <br />
        密码：
        <input type="password" ng-model="user.password" />
        <br />
        昵称：
        <input type="text" ng-model="user.displayName" />
        <br />
        <input type="button" value="登录" ng-click="register()" />
        {{result}}
    </div>
    <script src="http://apps.bdimg.com/libs/angular.js/1.5.0-beta.0/angular.min.js"></script>
    <script src="http://apps.bdimg.com/libs/angular.js/1.5.0-beta.0/angular-resource.min.js"></script>
    <script src="javascripts/services.js"></script>
    <script src="javascripts/controller/register.js"></script>
</body>
</html>