<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="main"></div>
    <script type="text/ractive" id="template">
        <h1>工作类型列表</h1>
        <ul>
            {{#workTypes}}
            <li>{{name}}</li>
            {{else}}
            暂无工作类型
            {{/}}
        </ul>
        <h2>添加工作类型</h2>
        {{#workType}}
        工作类型ID：
        <input type="number" value="{{this.id}}" />
        <br />
        工作类型Name：
        <input type="text" value="{{this.name}}" />
        <br />
        计入工时：
        <input type="checkbox" checked="{{this.isWork}}" />
        {{/workType}}
        <input type="button" value="添加" on-click="add" />
    </script>
    <script src="javascripts/lib/ractive.min.js"></script>
    <script src="javascripts/lib/jquery-2.1.4.min.js"></script>
    <script>
        var ractive = new Ractive({
            el: '#main',
            template: '#template',
            data: {
                workTypes: <%- JSON.stringify(items) %>,
                workType: { isWork: true }
            }
        });
        ractive.on({
            add: function () {
                var data = ractive.get();

                $.post('/workType/add', data.workType).then(
                    function (result) {
                        data.workTypes.push(data.workType);
                        ractive.set('workType', { isWork: true });
                        console.log('success!');
                        console.log(result);
                    },
                    function (err) {
                        console.error(err);
                    });
            }
        });
    </script>
</body>
</html>