<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>今日工作</h2>
                <hr />
                请填写工作内容
                <ul>
                    <li>1、 终端pc 不该习惯 (50%) -8</li>
                </ul>
                <hr />
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">项目</label>
                        <div class="col-sm-10">
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">内容</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputPassword3" placeholder="工作内容">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">工时</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="number" class="form-control" aria-label="工时(H)" placeholder="工时(H)">
                                <span class="input-group-addon">H</span>
                            </div>
                        </div>
                        <label for="inputPassword3" class="col-sm-2 control-label">进度</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="number" class="form-control" aria-label="进度%" placeholder="进度(%)">
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-primary">添 加</button>
                            <button type="button" class="btn btn-danger">取 消</button>
                        </div>
                    </div>
                    <!--
                    <div class="form-group">
                        <div class="col-sm-6">
                            <select class="form-control" placeholder="项目">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="number" class="form-control" aria-label="工时(H)" placeholder="工时(H)">
                                <span class="input-group-addon">H</span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="number" class="form-control" aria-label="进度%" placeholder="进度%">
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="inputPassword3" placeholder="工作内容">
                        </div>
                    </div>-->
                </form>
            </div>
            <div class="col-md-6">
                <h2>明日计划</h2>
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputEmail3">项目</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputPassword3">内容</label>
                        <input type="text" class="form-control" id="exampleInputPassword3" placeholder="内容">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputEmail3">工时</label>
                        <input type="number" class="form-control" id="exampleInputEmail3" placeholder="项目">H
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputPassword3">进度</label>
                        <input type="number" class="form-control" id="exampleInputPassword3" placeholder="内容">%
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>